@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&family=Open+Sans&family=Poppins:wght@400;900&display=swap');

:root {
    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
}

*{
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(./bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--Violet);
    background-size: cover;
    
}

header {
    width: 15px;
    position: absolute;
    top: 25px;
    left: 50px;
    margin: 0px;

}

.mobile {
    visibility: hidden;
}

.logo {
    width: 15px;
    margin: 0px;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 150px;
    right: 10px;
}

.description {
    margin: 0px;
    color: white;
    width: 750px;
    position: absolute;
    right: 70px;
    top: 25px;
}

form {
    margin: 0 auto;
    max-width: 25%;
    position: relative;
    right: 770px;
}

.btn {
    border-style: hidden;
    margin-top: 35px;
    padding: 15px 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: var(--Violet);
    border-radius: 55px;
    box-shadow: 9px 5px 10px -6px rgba(0,0,0,0.38);
    position: absolute;
    left: 530px;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--Soft-Magenta);
    color: white;
}

.description h1{
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    padding-bottom: 15px;
    max-width: 90%;
    position: relative;
}

.description p {
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    max-width: 80%;
    opacity: 0.8;
    position: relative;
    right: 60px;
}

.image {
    position: absolute;
    top: 65px;
    right: 875px;
}

.image img {
    width: 500px;
}

footer {
    position: relative;
    top: 600px;
    left: 150px;
    text-align: center;
    font-size: 40px;
    color: white;
    width: 300px;
    margin-right: 50px;
}

.socialMedia a{
    text-decoration: none;
    color: white;
}

.socialMedia a:hover i {
    color: var(--Soft-Magenta);
}

.socialMedia {
    position: relative;
    right: 450px;
    top: 50px;
    margin: 0px 0px 5px 1380px;
    width: 150px;
}

.attribution { 
    position: relative;
    top: 75px;
    left: 300px;
    font-size: 15px; 
    text-align: center; 
    width: 450px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 375px) {
    *{
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0 auto;
        background-color: var(--Violet);
        background-image: url(bg-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 1435px 1250px;
    }

    header .logo, 
    .container .image {
    visibility: hidden;
}

    header {
        max-width: 50%;
    }

    main .mobile {
        visibility: visible;
    }

    .mobile .logo {
        margin: 45px 0px 0px 50px; 
    }

    .mobile .logo img {
        width: 460px;
    }

    .container {
        margin: 0 auto;
        max-width: 100%;
    }

    .mobile .image {
        max-width: 70%;
        position: relative;
        left: 80px;
        top: 220px;
    }

    .mobile .image img {
        width: 1050px;
    }

    .description {
        position: relative;
        left: 230px;
        top: 1100px;
        width: 850px;
        text-align: center;
        margin-left: 0px;
    }

    .description h1 {
        font-size: 75px;
        width: 950px;
        margin: 0;
        left: 87px;
    }

    .description p {
        position: relative;
        left: 87px;
        margin: 25px 0px 0px 25px;
        width: 1019px;
        font-size: 41px;
        line-height: 70px;
    }

    .description .btn {
        position: absolute;
        left: 530px;
        top: 25px;
        padding: 38px 280px;
        font-size: 45px;
        border-radius: 100px;
    }

    footer {
        margin-bottom: 0px;
        position: relative;
        top: 655px;
    }

    footer .socialMedia {
        position: relative;
        right: 1020px;
        top: 680px;
        margin-bottom: 0px;
        width: 350px;
    }

    footer .socialMedia i {
        font-size: 100px;
    }

    footer .attribution {
        margin-left: 0px;
        position: absolute;
        top: 815px;
        left: 25px;
        width: 1100px;
        font-size: 50px;
    }
}
